
@media (max-width: 767px) {
    .mbl_show{
        display:block;
    }
    .mbl_hide{
        display:none;
    }
    .container{
        width:480px;
        padding:0 15px;
    }
    body{
        min-width:480px;
    }



    .header{
        max-width:480px;
        margin-bottom:40px;
    }
    .top_header{
        padding:16px 0 20px;
    }
    .bottom_header{
        padding-bottom:16px;
    }
    .logo{
        width:80px;
    }
    .h_info_bl{
        margin:0 85px 0 104px;
        padding-top:9px;

        a{
            letter-spacing:0;
        }
    }
    //h_search
    .h_search{
        width:60px;
        height:60px;

        .field{
            width:100%;
        }
        .search_btn{
            color:@redDarken;
        }
    }

    .h_search_mbl_pp{
        height:195px;
        position:fixed;
        left:0;
        top:-200px;
        z-index:107;
        width:100%;
        visibility:hidden;
        opacity:0;
        transform:translate3d(0,0,0);
        background-color:@white;
        transition:transform 500ms ease, visibility 500ms ease, opacity 0ms 500ms ease;
        box-shadow:0 3px 5px rgba(0, 0, 0, 0.2);

        &.show_search{
            opacity:1;
            visibility:visible;
            transform:translate3d(0,200px,0);
            transition:transform 500ms ease;
        }
        .container{
            position:relative;
            padding:70px 15px 16px;
        }
    }
    .title_search{
        font-size:33px;
        line-height:40px;
        margin:0 0 10px;
    }
    .open_search_pp{
        width:60px;
        height:60px;
        border: 2px solid #43738a;
        padding:0;
        margin:0;

        &:before{
            display: block;
            color: #c12b44;
            font-size: 30px;
            line-height: 58px;
            text-align: center;
        }
    }
    //end h_search

    .viewed_a_pending{
        margin:0 60px 0 0;
    }

    .catalog_menu{

    }
    .mbl_catalog_btn{
        //width:60px;
    }
    .site_menu_wrap{
        //margin-left:75px;
    }
    .site_menu_list,
    .drpd_menu_list{

        li{
            padding-left:15px;
        }
    }
    .close_pp_btn{
        position:absolute;
        right:10px;
        top:6px;
        width:36px;
        height:40px;
        color:@blueIcons;
        font-size:24px;
        line-height:40px;
        text-align:center;
    }


    .bx-wrapper .bx-controls-direction{
        display:block;
    }
    .main_slier_section{
        padding:0;
        overflow:hidden;
    }
    .main_slider_wrap{

        .bx-pager{
            display:none;
        }
    }
    .main_slider{
        height:300px;

        .slide_img{
            max-height:100%;
        }

        .table{
            height:300px;
        }
        .table_cell{
            padding:5px 10px 15px;
        }
        .title_slab{
            margin-bottom:18px;
        }
        .slide{
            max-height:300px;
        }
    }
    .prod_sl_params{
        display:none;
    }
    .sl_price_a_links{
        .price{
            float:none;
        }
        .links{
            padding-top:2px;
            text-align:left;
        }
        a{
            font-size:18px;
            line-height:21px;
        }
    }

    .advantages{
        padding-top:7px;
        margin-bottom:0;

        .item{
            text-align:center;
            padding:0 0 32px;
        }
        .img{
            float:none;
            width:auto;
            margin:0 0 5px;
        }
    }

    .delimiter_hor{
        margin:0 0 20px;
    }
    .headline_block{
        margin-bottom:10px;
        border-bottom:none;
    }
    .products_group{
        position:relative;
        padding-bottom:15px;
        margin-bottom:40px;

        .link_bl{
            position:absolute;
            left:0;
            bottom:0;
        }
    }
    .go_to_all{
        padding:0 0 0 28px;

        &:after{
            position:absolute;
            left:0;
            top:0;
            margin-top:0;
            right:auto;
            content:"\f06e";
        }
    }
    .products{
        margin:0 -15px;
    }
    .prod_item{
        width:50%;
        padding:0 15px;
    }

    .blog_aside{
        padding-left:0;
        margin-bottom:16px;
        overflow:visible;

        &:before{
            display:none;
        }
    }
    .container .headline_mbl_red{
        margin:0 -15px 21px;
        padding:10px 20px;
        font-size:26px;
        line-height:30px;
        color:@white;
        background-color:@redDarken;

        &:before,
        &:after{
            display:none;
        }
        span{
            color:@white;
        }
    }

    .blog_item{
        padding:0 0 26px 41px;
        margin:0;

        &:last-child{
            padding-bottom:0;
            margin-bottom:20px;
        }

        &:after{
            display:none;
        }
        &:before{
            position: absolute;
            width:0;
            height:auto;
            left:10px;
            top:4px;
            bottom: 0;
            border-radius:0;
            border:none;
            border-left: 1px solid #e6e6e2;
        }

        .time{
            position:relative;

            &:before,
            &:after{
                content:'';
                position:absolute;
                left:-43px;
                top:-2px;
                width:24px;
                height:24px;
                border:5px solid @white;
                border-radius:50%;
                background-color:@blueIcons;
                box-sizing:border-box;
            }
            &:after{
                border-width:4px;
                width:12px;
                height:12px;
                top:4px;
                left:-37px;
            }
        }
    }
    .education_section{
        padding:0;
    }
    .education{
        padding:30px 15px 22px;
        margin-bottom:27px;

        .image_bl{
            width:100%;
            padding:0;
            margin:0 0 15px;

            img{
                max-width:210px;
                float:left;
            }
        }
        .btn_row{
            margin-left:250px;
        }
        .txt_bl{
            margin-bottom:27px;
        }

    }
    .education_list{
        columns:auto;
    }
    .education_list_bl .caption{
        margin-bottom:14px;
    }

    .footer{
        font-size:20px;
        line-height:30px;

        .f_menu{

            .caption{
                font-size:24px;
                line-height:30px;
                padding-bottom:11px;
                margin-bottom:10px;

                &:after{
                    height:3px;
                    width:65px;
                }
            }
        }

        .f_social{
            width:50px;
            padding:0;
            margin:0;
            position:absolute;
            top:45px;
            right:23px;

            li{
                float:none;
                margin:0;
                text-align:left;
            }
            a{
                width:auto;
                height:auto;
                font-size:30px;
                line-height:35px;
                background:none;

                &:hover{
                    background:none;
                }
            }
        }
        .copyright{
            padding:18px 0 20px;
            font-size:21px;
            line-height:30px;
        }
    }
    .f_menu{
        display:block;

        .buyer_cell,
        .training_cell,
        .contact_cell{
            width:69%;
            padding:0 0 20px;
            display:inline-block;
            vertical-align:top;
            text-align:left;

            .f_list_wrap{
                padding-left:0;
                width:auto;
                max-width:none;
            }
        }

        .training_cell{
            width:29%;
        }
        .contact_cell{
            width:100%;
            position:relative;
            padding-right:65px;
            padding-bottom:0;

            .caption{
                font-size:21px;
            }
        }
    }

    .bread_crumbs{
        margin-top: -15px;
    }
    //plp
    .plp{

        .bread_crumbs{
            margin: -15px 0 16px;
        }
        &_headline{
            padding-right: 0;
            margin-bottom: 0;

            .big_download_link{
                display: none;
            }
        }
        &_sort_bl{
            margin-left: -15px;
            margin-right: -15px;
        }
        &_view{
            margin-right: -24px;
            .tit{
                display: none;
            }
            .views_btns li{
                margin:0 16px 0 0;
            }
        }
        &_sort{
            .tit{
                font-size:0;
                line-height: 0;

                &:before{
                    content: '\f15d';
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }
    }
    .pagination_block{
        border-top:0;
        padding-top: 20px;
    }
    .pagination{
        font-size:0;

        li{
            font-size: 20px;
        }
        .dotteds{
            a{
                width: auto;
            }
        }
        .first{
            margin-right: 3px;
        }
        .last{
            margin-left: 3px;
        }
    }

    .prod_item_list{
        display: inline-block;
        width: 100%;
        border:none;
        margin: 0 0 25px;
        padding-bottom: 20px;
        border-bottom:1px solid @grayBorder;

        .table_cell{
            width: auto;
            max-width: none;
            display: block;
            padding: 0;
        }
        .img_cell{
            width: 145px;
            height: 145px;
            float: left;
            position: relative;
        }
        .name_cell{
            margin: -8px 0 23px 160px;
        }

        .param_cell{
            margin-left: 160px;
            background: none;

            .in_favorite_inline{
                display: none;
            }
            &:after{
                content: '';
                clear: both;
                display: block;
            }
        }
        .price_a_size{
            float: left;
            padding-top: 2px;
        }
        .sizes{
            display: block;
            width: 127px;
        }
        .price{
            display: none;
        }
        .buy_bl{
            float: right;
        }
        .buy_btn,
        .order_btn{
            width: 150px;
            height: 40px;
            font-size:21px;
            line-height: 38px;

            &:before{
                margin-right: 5px;
                font-size:21px;
                line-height: 38px;
            }
        }
        .in_favorite{
            position: absolute;
            right: 0;
            top:0;
            color: @white;

            &:before{
                width:32px;
                font-size:24px;
                line-height:37px;
            }
            span{
                display:none;
            }
        }
    }


    .prod_item_table{
        padding: 25px 0 11px;

        &:first-child{
            padding-top: 0;
        }

        .name_cell{
            width: 60%;
            padding-right: 5px;
        }
        .size_a_code_cell{
            width: 40%;
            float: right;
            padding-left: 5px;
            text-align: right;
        }
        .price_cell{
            width: 35%;
            padding: 10px 8px 0 0;
            text-align: left;
        }
        .btns_cell{
            padding-top: 20px;
            width: 65%;
            text-align: center;
        }

        .order_btn{
            width: 150px;
            height: 40px;
            font-size:21px;
            line-height: 38px;
            float: right;

            &:before{
                font-size:21px;
                line-height: 38px;
                margin-right: 5px;
            }
        }
        .in_favorite_inline{
            float: left;
            margin-top: 6px;
            border-bottom: 0;

            &:before{
                content: '\f017';
                margin-right: 4px;
                vertical-align: top;
                display: inline-block;
                font-family: @fontAwesome;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: relative;
            }

            span{
                line-height: 24px;
                display: inline-block;
                vertical-align: top;
                border-bottom: 1px dashed @linkColor;
            }

            &:hover span{
                border-bottom-color:transparent;
            }
        }
        .price,
        .name_size,
        .rouble_sans{
            font-size: 21px;
            font-weight: 500;
        }
    }

    .six_in_row{

        .headline_block{
            padding: 0 0 12px 0;
            margin: 0 0 24px;
            border-bottom:1px solid @grayBorder;
        }
        .headline_title{
            padding: 0;

            &:before{
                display: none;
            }
        }
        .prod_item{
            width: 50%;
            padding: 0 15px;
        }
    }
    .headline_title{
        &.fa-shopping-cart:before{
            display: none;
        }
    }
    //pdp
    .pdp {

        .subtitle {
            margin-bottom: 25px;
        }
        &_images {
            width: auto;
            float: none;
            margin: 0 -15px;

            .bx-wrapper {
                margin: 0 0 26px;
                overflow: hidden;
            }
            .bx-viewport {
                width: 290px !important;
                height: 290px !important;
                margin: 0 auto;
                overflow: visible !important;
            }
        }
        &_small_img {
            display: none;
        }

        &_inf {
            width: 100%;
            float: none;
        }
        &_anchors {
            display: block;
            text-align: justify;
            font-size: 0;
            line-height: 0;
            white-space: normal;
            margin-bottom: 20px;

            &:before,
            &:after {
                content: '';
                display: inline-block;
                width: 100%;
            }
            a {
                font-size: 20px;
                line-height: 25px;
                display: inline-block;
                margin: 0;
            }
        }
        &_row_group {
            margin-bottom: 20px;
        }
        &_row_info {
            margin-bottom: 0;
        }
        .row_mrg {
            display: inline;
            margin: 0 15px 0 0;
        }
        &_price {
            padding-bottom: 21px;
            margin-bottom: 20px;
        }
        &_choose_counts_bl{
            padding-bottom: 25px;
        }
        &_price_a_buttons {
            padding-bottom: 16px;

            .pdp_price_total{
                width: 100%;
                float: none;
                margin-bottom: 25px;
            }
            .pdp_buttons {
                float: none;
                margin: 0 -15px;
                padding: 0;

                .table_cell {
                    padding: 0 15px;
                }
            }
            .discount_txt{
                padding-top: 15px;
            }
        }

        &.pdp_not_avalible{

            .pdp_price_a_buttons{
                width: 100%;
                border-top:0;
                padding: 0;
            }
        }
        &_check_inf{
            padding: 0 0 10px;
            margin: 0;
            background: none;
            font-size:20px;
            line-height: 30px;

            &.text_block{
                .pdp_check_item{
                    width: 100%;
                }
            }
        }
        &_check_item{
            width: auto;
            float: none;
            padding: 20px 30px 10px 25px;
            margin: 0 0 20px;
        }

        &_prop_reviews{
            margin: 0;
        }
        &_properties{
            padding: 0;
        }
    }
    .hint_txt{
        font-size: 18px;
        line-height: 25px;
    }
    .box_lists{
        height: 15px;
    }
    .share_social{
        text-align: center;
        margin-bottom: 25px;
    }
    .properties_table .table_cell:first-child{
        color: @textColor;
    }

    //cab
    .cab {
        margin: 0 -15px 40px;
        padding: 15px 15px 0;
        background-color: @blocksBg;

        &_tabs {
            height: auto;
            display: block;
            margin: 0 0 22px;
            border:1px solid @blueIcons;

            li{
                display: block;
                border:none;
                border-top:1px solid @footerCaption;
                font-size: 21px;

                &:first-child{
                    border:none;

                    a{
                        padding-left: 50px;
                    }
                }

                a{
                    height: auto;
                    padding: 8px 5px 10px 50px;
                    position: relative;
                    text-align: left;
                }

                &.active{
                    border:none;

                    a{
                        padding-top: 8px;

                        &:before{
                            content: '\f00c';
                            position: absolute;
                            left: 20px;
                            top: 7px;
                            height: 30px;
                            width: 20px;
                            text-align: center;
                            color: @green;
                            font-size: 21px;
                            line-height: 30px;
                            font-family: @fontAwesome;
                        }
                    }
                }
            }
        }
        &_cnt_wrap{
            padding: 0;
        }

        &_data{
            padding: 0 0 40px;

            .field{
                margin-bottom: 12px;
            }
            .table_row{
                display: block;
            }
            .table_cell{
                display: block;
                padding: 0;

                &.hid_tbl{
                    display: none;
                }
            }
            .name_cell,
            .title_inputs {
                max-width: none;
                width: auto;
                padding: 0 0 6px;
                margin: 0;
                text-align: left;
            }
            .title_inputs{
                float: none;
            }
            &_address{
                margin: 0 0 11px;

                .field{
                    margin-bottom: 20px;
                }
                .table{
                    margin: 0;
                    padding: 0;
                    border:none;
                    background: none;
                }
            }
            &_password{
                margin: 0 0 48px;
                .table_cell{
                    &:last-child{

                        &.input_cell{
                            padding: 0 0 0 15px;
                        }
                    }

                    &.input_cell{
                        width: 50%;
                        float: left;
                        padding: 0 15px 0 0;
                    }
                }
            }
        }
        .checkbox_row{
            padding:5px 0 19px;
        }
        .btn_row{
            .btn{
                width: 100%;
            }
        }
        &_my_data{
            &_info{
                margin: 0 0 49px;
                p{
                    margin: 0;
                }
            }
            .links{
                padding-top: 20px;
            }
            .user_links_item{
                padding-top: 12px;
            }
        }
        &_ord{

            &_head{
                padding: 12px 18px 13px;

                .num_ord{
                    margin: -5px 195px -9px 0;
                    height: 46px;
                    font-size: 18px;
                    line-height: 25px;
                }
            }
            &_item_cnt{
                padding:15px 20px 10px;
            }
        }
        .track_btn{
            &:before{
                display: none;
            }
        }
        &_order_prod{
            display: block;

            .table_row{
                padding: 5px 0;
                display: block;
                .clear_fix();
            }
            .table_cell{
                width: 26%;
                display: block;
                float: left;
                padding: 0 5px 0 0;
                line-height: 30px;
                text-align: left;
                vertical-align: top;
            }
            .size_cell{
                width: 37%;
            }
            .price_cell{
                width: 37%;
                text-align: right;
            }
            .name_cell{
                width: 100%;
                padding-right: 0;
            }
        }
    }
    .welcome_txt{
        margin-bottom: 30px;
    }
    .pending{

        &_list{
             .small_caption{
                 margin-bottom: 0;
             }
            .date{
                font-size:18px;
            }
            .lists{

                .link{
                    margin-left: 115px;
                }
            }
        }
        &_items{
            .cab_ord_item_cnt{
                padding: 12px 20px;
            }
        }

    }
    .fast_cross{
        margin: 0 0 20px;
    }

    .cart_table,
    .pending_table{

        .table_row{
            padding: 20px 0 15px;

            &:first-child{
                padding-top: 10px;
            }
        }
        .table_cell{
            width: auto;
            margin: 0 0 0 100px;
            padding-right: 0;
            float: none;
            text-align: left;
        }
        .img_cell{
            width: 100px;
            padding: 0;
            margin: 0;
            float: left;
        }
        .amount_cell{
            float: left;
        }
        .delete_cell{
            margin: 0;
            top:117px;
        }
        .price_cell,
        .buy_cell{
            margin-left: 295px;
        }
        .price{
            margin-top: 0;
        }
        .img{
            width: 80px;
            max-height: 80px;
        }
    }
    .cart_aside{
        padding: 0 -15px 10px;
        margin: 0 -15px 30px;
    }
    .pend_buy_btn{
        padding-top: 0;
    }
    .filt_order_list a{
        padding-left: 7px;
        padding-right: 7px;
    }
    .order_path{

        li{
            width: 200px;
            white-space: nowrap;
        }
    }
    .order_params{
        margin-bottom: 24px;
    }

    //cart
    .cart{
        border-top:0;

        &_order{
            padding-top: 10px;

            &_comment{

                .small_caption {
                    font-weight: 400;
                }
            }
            &_errors{
                font-size: 18px;
                text-align: left;
                margin-bottom: 10px;
            }
            &_buttons{
                padding-top: 10px;
            }
        }
        &_total{

            &_sum{
                width: 100%;
                margin: 0 0 15px;
            }
        }
        &_discount{

            &_code{
                width: 100%;

                &_wrap{
                    text-align: right;
                }
            }
        }

    }

    //form_table
    .form_table{
        max-width: 678px;
        margin-bottom: 40px;

        .table_cell{
            width: auto;
            display: block;
            padding: 0;
            text-align: left;

        }
        .name_cell{
            padding: 0 0 8px;
        }
    }
    //form_table
    //end cart

    .method{
        margin: 0 -15px;
        .small_caption{
            font-weight: 400;
        }
        .method_title{
            padding: 20px 15px 0;
            font-size:21px;
            line-height: 25px;
        }
        &_block_wrap{
            padding: 15px 15px 10px;
            margin-bottom: 40px;
        }
        &_item{
            margin-bottom: 20px;
        }
    }
    .method_delivery{
        .method_block_wrap{
            margin-bottom: 30px;
        }
    }
    .address_delivery{

        textarea{
            margin-bottom: 15px;
        }
        &_txt{
            color: @textColor;
        }
    }

    //art
    .art{

        .article{
            border-bottom: 0;
            margin: 0 0 25px;
        }
    }
    .article{
        border-bottom: 0;
        .title{
            margin: 0;
            font-size: 33px;
            line-height: 40px;
        }
    }
    .tablet_info_cnt{
        border-bottom: 1px solid @grayBorder;
        padding: 0 0 25px;
        margin: 0 0 25px;
    }
    .seminar{

        &_item{
            margin: 0 0 20px;
        }
        &_img{
            display: none;
        }
        &_cnt{

            &_wrap{
                margin: 0;
                min-height: auto;
                padding: 16px 20px 95px;
            }
        }

        //seminar_item_right
        &_item_right{
            .seminar_cnt_wrap{
                margin: 0;
                padding: 16px 20px 95px;
            }
        }
        &_descript{
            padding: 30px 18px 15px;
        }
        &_join_pp{
            .field_calendar{
                position: relative;

                .calendar_block{
                    position: static;
                }
                .datepicker_pp{
                    left: 0;
                }
            }
        }
    }
    .calendar_block{
        position: relative;

        &.opened_dp{
            .datepicker_pp{
                top:50%;
                left:-20px;
                margin: -225px 0 0;
            }
        }
    }
    .title_mark{

        &:before{
            bottom: 4px;
            height: auto;
        }
    }
    .seminars_img{

        &_list{
            float: none;
            .clear_fix();

            li{
                float: left;
                width: auto;
                text-align: center;
            }
        }
    }

    .training_info{

        .table,
        .table_cell{
            display: inline-block;
            width: 100%;
            padding: 0;
        }
        .table_cell{
            display: table-header-group;
            
            &:first-child{
                display: table-footer-group;
            }
            .training_link{
                margin-top: 40px;
            }
        }
        .table.archive_table{
            .table_cell{
                display: block;
                max-width: none;
                padding: 0 0 15px;

                &:first-child{
                    padding: 0;
                    color:@grayDark;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
        .training_link{
            width: 100%;
            padding: 16px 10px 17px 80px;

            br{
                display: none;
            }
        }
        &_item_wrap{
            padding: 20px 0 10px;
            margin: 0 0 33px;
            border-top: 1px solid @grayBorder;
            background: none;
        }
        .big_caption{
            margin: 0 0 15px;
        }
    }
    .archive_link{
        padding-left: 0;

        &:before{
            display: none;
        }
    }
    .training_docs{
        margin: 0 0 25px;
        padding-top: 20px;
        border-top:1px solid @grayBorder;

        &_list{
            columns: 1;
        }
        .big_caption{
            padding-bottom: 0;
            border:none;
        }
    }
    .video_a_archive{
        padding-top: 20px;
        border-top:1px solid @grayBorder;

        .training_info_item_wrap{
            padding: 0;
            border:none;
        }
        .big_caption{
            margin-bottom: 20px;
        }
    }
    .close_btn_youtube_pp{
        top:-28px;
        right: 2px;
    }
    .video_list{
        padding: 0 0 25px;
        margin: 0 0 20px;
        border-bottom:1px solid @grayBorder;

        li{
            width: 50%;
        }
        a{
            height: 180px;
        }
        .show_all_video_wrap{
            width:auto;
            padding:10px 0 0;

            a{
                height: auto;
                border:none;
                display: inline;

                span{
                    display: inline;
                }
            }
        }
        .video_link_txt:after{
            display: none;
        }
    }
}
